<div class="row">
    <div class=" span-12 cell">
    <div class="container-fluid no-padding" id="id-to-scroll">
    <div class="row no-margin">
    <div class="col-sm-4 bg-light">
    <div class="colored-box" style="text-align: center;">
    <h3 class="text-dark mb20" style="text-align: center;">Campus Finder</h3>
    <p class="text-dark" style="text-align: center;"><span>Athletes in Action has a ministry presence on campuses throughout the nation. Search our campus finder to find one near you!</span></p>
    <a href="/campus/find" class="btn btn-custom v2 btn-border no-radius">Learn More</a></div>
    <!-- End .colored-box --></div>
    <!-- End .col-sm-4 -->
    <div class="col-sm-4 col-md-push-4 bg-light">
    <div class="colored-box" style="text-align: center;">
    <h3 class="text-dark mb20">Careers</h3>
    <p class="text-dark"><span>Check out our resources page to find various ministry resources to help you grow and help others grow in Christ.</span></p>
    <a href="/careers" class="btn btn-custom v2 btn-border no-radius">Learn More</a></div>
    <!-- End .colored-box --></div>
    <!-- End .col-sm-4 -->
    <div class="col-sm-4 col-md-pull-4 bg-light" style="text-align: center;">
    <div class="colored-box">
    <h3 class="text-dark mb20">Opportunities</h3>
    <p class="text-dark"><span>Go with Athletes in Action on one of our many different opportunities. Click the box to see where we are going this year! </span></p>
    <a id="cl1" data-toggle="collapse" data-parent="#accordion" href="#cpb1" aria-expanded="false" aria-controls="cpb1" class="collapsed btn btn-custom v2 btn-border no-radius">Learn More</a></div>
    <!-- End .colored-box --></div>
    <!-- End .col-sm-4 --></div>
    <!-- End .row --></div>
    