<!-- Footer -->
<footer id="footer">
	<div id="footer-widgets" class="wprt-container">
		<div class="wprt-row gutter-30">
			<div class="col span_1_of_4">
				<div class="widget widget-about">
					<h2 class="widget-title">ABOUT US</h2>

					<div class="text">
						<p>LGarrett Home Improvement, LLC is a reliable, trusted, and proven independent contractor serving the Miami Valley.  We pride ourselves in providing the highest quality at excellent prices and can meet all your home improvement needs.</p>
					</div>
				</div><!-- /.widget-about -->
<!-- /.widget-socials
				<div class="widget widget-socials">
					<a href="#" class="active"><span class="fa fa-twitter" aria-hidden="true"></span></a>
					<a href="#"><span class="fa fa-facebook" aria-hidden="true"></span></a>
					<a href="#"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
					<a href="#"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
					<a href="#"><span class="fa fa-skype" aria-hidden="true"></span></a>
				</div> -->
			</div>

			<div class="col span_1_of_4">
				<div class="widget widget-recent-new">
					<h2 class="widget-title">RECENT NEWS</h2>
					
					<ul>
						<li>
							<h3><a href="#">Signs you Need Drain Repair Services</a></h3>
							<div>March 20, 2017</div>
						</li>

						<li>
							<h3><a href="#">What a Difference a Few Months Make</a></h3>
							<div>March 20, 2017</div>
						</li>
					</ul>
				</div><!-- /.widget-recent-new -->
			</div>

			<div class="col span_1_of_4">
				<div class="widget widget-navigation">
					<h2 class="widget-title">NAVIGATION</h2>

					<ul class="widget-navigation-list">
						<li class="item"><a href="#">Home</a></li>
						<li class="item"><a href="#">Certifications</a></li>
						<li class="item"><a href="#">News & Events</a></li>
						<li class="item"><a href="#">Our Partners</a></li>
						<li class="item"><a href="#">Projects</a></li>
					</ul>
				</div><!-- /.widget-navigation -->
			</div>

			<div class="col span_1_of_4">
				<div class="widget widget-contact">
					<h2 class="widget-title">CONTACT US</h2>

					<div class="widget-contact-form">
						
					</div>
				</div><!-- /.widget-contact -->
			</div>
		</div><!-- /.wprt-row -->
	</div><!-- /#footer-widgets -->
</footer>
<!-- /Footer -->

<!-- Bottom -->
<div id="bottom" class="clearfix">
	<div id="bottom-bar-inner" class="wprt-container">
		<div class="bottom-bar-inner-wrap">
			<p class="copyright"><span class="fa fa-copyright"></span>2018 Construct - All rights reserved.</p> 
		</div>
	</div>
</div>
<!-- /Bottom -->
</div><!-- /#page -->
</div><!-- /#wrapper -->

<a id="scroll-top"></a>

<!-- Java Script -->
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/animsition.js"></script>
<script type="text/javascript" src="/js/waypoint.js"></script>
<script type="text/javascript" src="/js/parallax.js"></script>
<script type="text/javascript" src="/js/matchMedia.js"></script>
<script type="text/javascript" src="/js/fitvids.js"></script>
<script type="text/javascript" src="/js/easing.js"></script>
<script type="text/javascript" src="/js/countTo.js"></script>
<script type="text/javascript" src="/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="/js/cubeportfolio.js"></script>
<script type="text/javascript" src="/js/magnific.popup.min.js"></script>
<script type="text/javascript" src="/js/shortcodes.js"></script>
<script type="text/javascript" src="/js/main.js"></script>

<!-- Revolution Slider -->
<script type="text/javascript" src="/js/rev-slider/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="/js/rev-slider/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="/js/rev-slider.js"></script>
<!-- Load Extensions only on Local File Systems ! The following part can be removed on Server for On Demand Loading -->  
<script type="text/javascript" src="/js/rev-slider/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="/js/rev-slider/js/extensions/revolution.extension.carousel.min.js"></script>
<script type="text/javascript" src="/js/rev-slider/js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="/js/rev-slider/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="/js/rev-slider/js/extensions/revolution.extension.migration.min.js"></script>
<script type="text/javascript" src="/js/rev-slider/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="/js/rev-slider/js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="/js/rev-slider/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="/js/rev-slider/js/extensions/revolution.extension.video.min.js"></script>

</body>
</html>